<div class="main-content page-m">
  <div class="section-content section-content-p30">
    <div class="container-fluid">
      <form [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit()">
        <div formGroupName="customer" class="form-area">
          <h3>Customer</h3>
          <div class="row">
            <div class="col-md-2"><label for="">First Name</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input type="text" formControlName="firstName" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2"><label for="">Last Name</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input type="text" formControlName="lastName" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2"><label for="">Email</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input type="text" formControlName="email" />
              </div>
            </div>
          </div>
        </div>
        <div formGroupName="shippingAddress" class="form-area">
          <h3>Shipping Address</h3>
          <div class="row">
            <div class="col-md-2"><label for="">Country</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <select
                  (change)="getStates('shippingAddress')"
                  formControlName="country"
                >
                  <option
                    *ngFor="let country of countries"
                    [ngValue]="country.id"
                  >
                    {{ country.name }}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2"><label for="">Street</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input type="text" formControlName="street" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2"><label for="">City</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input type="text" formControlName="city" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2"><label for="">State</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="state">
                  <option
                    *ngFor="let shippingAddressState of shippingAddressStates"
                  >
                    {{ shippingAddressState.name }}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2"><label for="">Zip Code</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input type="text" formControlName="zipCode" />
              </div>
            </div>
          </div>
        </div>

        <div class="input-space">
          <label class="au-checkbox">
            <input
              type="checkbox"
              (change)="copyShippingAddressToBillingAddress($event)"
            />
            <span class="au-checkmark"></span>Billing address same as Shipping
            address
          </label>
        </div>
        <div formGroupName="billingAddress" class="form-area">
          <h3>Billing Address</h3>
          <div class="row">
            <div class="col-md-2"><label for="">Country</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <select
                  (change)="getStates('billingAddress')"
                  formControlName="country"
                >
                  <option
                    *ngFor="let country of countries"
                    [ngValue]="country.id"
                  >
                    {{ country.name }}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2"><label for="">Street</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input type="text" formControlName="street" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2"><label for="">City</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input type="text" formControlName="city" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2"><label for="">State</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="state">
                  <option
                    *ngFor="let billingAddressState of billingAddressStates"
                  >
                    {{ billingAddressState.name }}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2"><label for="">Zip Code</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input type="text" formControlName="zipCode" />
              </div>
            </div>
          </div>
        </div>
        <div formGroupName="creditCard" class="form-area">
          <h3>Credit card</h3>
          <div class="row">
            <div class="col-md-2"><label for="">Card Type</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="cardType">
                  <option value="">Visa</option>
                  <option value="">Master Card</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2"><label for="">Name on card</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input type="text" formControlName="nameOnCard" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2"><label for="">Card Number</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input type="text" formControlName="cardNumber" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2"><label for="">Security Code</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input type="text" formControlName="securityCode" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2"><label for="">Experation Month</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="experationMonth">
                  <option *ngFor="let month of creditCardMonths">
                    {{ month }}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2"><label for="">Experation Year</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <select
                  (change)="handleMonthsAndYears()"
                  formControlName="expirationyear"
                >
                  <option *ngFor="let year of creditCardYears">
                    {{ year }}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <div class="form-area">
          <h3>Review your order</h3>
          <p>Total Quantity: {{ totalQuantity }}</p>
          <p>Shipping: FREE</p>
          <p>Total Price: {{ totalPrice }}</p>
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-info">Purchase</button>
        </div>
      </form>
    </div>
  </div>
</div>
