<div class="main-content page-m">
  <div class="section-content section-content-p30">
    <div class="container-fluid">
      <form [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit()">
        <div formGroupName="customer" class="form-area">
          <h3>Customer</h3>
          <div class="row">
            <div class="col-md-2"><label for="">First Name</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input type="text" formControlName="firstName" />
                <div
                  *ngIf="
                    firstName?.invalid &&
                    (firstName?.dirty || firstName?.touched)
                  "
                  class="alert alert-danger mt-1"
                >
                  <div
                    *ngIf="firstName?.errors?.['required'] || firstName?.errors?.['notOnlyWhitespace']"
                  >
                    First name is required
                  </div>
                  <div *ngIf="firstName?.errors?.['minlength']">
                    First name must be at least 2 characters
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2"><label for="">Last Name</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input type="text" formControlName="lastName" />
                <div
                  *ngIf="
                    lastName?.invalid && (lastName?.dirty || lastName?.touched)
                  "
                  class="alert alert-danger mt-1"
                >
                  <div
                    *ngIf="lastName?.errors?.['required'] || firstName?.errors?.['notOnlyWhitespace']"
                  >
                    Last name is required
                  </div>
                  <div *ngIf="lastName?.errors?.['minlength']">
                    Last name must be at least 2 characters
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2"><label for="">Email</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input type="text" formControlName="email" />
                <div
                  *ngIf="email?.invalid && (email?.dirty || email?.touched)"
                  class="alert alert-danger mt-1"
                >
                  <div *ngIf="email?.errors?.['required']">
                    Email is required
                  </div>
                  <div *ngIf="email?.errors?.['pattern']">
                    Email must be a valid emai address format
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div formGroupName="shippingAddress" class="form-area">
          <h3>Shipping Address</h3>
          <div class="row">
            <div class="col-md-2"><label for="">Country</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <select
                  (change)="getStates('shippingAddress')"
                  formControlName="country"
                >
                  <option
                    *ngFor="let country of countries"
                    [ngValue]="country.id"
                  >
                    {{ country.name }}
                  </option>
                </select>
                <div
                  *ngIf="
                    shippingAddressCountry?.invalid &&
                    (shippingAddressCountry?.dirty ||
                      shippingAddressCountry?.touched)
                  "
                  class="alert alert-danger mt-1"
                >
                  <div *ngIf="shippingAddressCountry?.errors?.['required']">
                    Country is required
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2"><label for="">Street</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input type="text" formControlName="street" />
                <div
                  *ngIf="
                    shippingAddressStreet?.invalid &&
                    (shippingAddressStreet?.dirty ||
                      shippingAddressStreet?.touched)
                  "
                  class="alert alert-danger mt-1"
                >
                  <div
                    *ngIf="shippingAddressStreet?.errors?.['required'] || shippingAddressStreet?.errors?.['notOnlyWhitespace']"
                  >
                    Street is required
                  </div>
                  <div *ngIf="shippingAddressStreet?.errors?.['minlength']">
                    Street must be at least 2 characters
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2"><label for="">City</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input type="text" formControlName="city" />
                <div
                  *ngIf="
                    shippingAddressCity?.invalid &&
                    (shippingAddressCity?.dirty || shippingAddressCity?.touched)
                  "
                  class="alert alert-danger mt-1"
                >
                  <div
                    *ngIf="shippingAddressCity?.errors?.['required'] || shippingAddressCity?.errors?.['notOnlyWhitespace']"
                  >
                    City is required
                  </div>
                  <div *ngIf="shippingAddressCity?.errors?.['minlength']">
                    City must be at least 2 characters
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2"><label for="">State</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="state">
                  <option
                    *ngFor="let shippingAddressState of shippingAddressStates"
                    [ngValue]="shippingAddressState.id"
                  >
                    {{ shippingAddressState.name }}
                  </option>
                </select>
                <div
                  *ngIf="
                    shippingAddressState?.invalid &&
                    (shippingAddressState?.dirty ||
                      shippingAddressState?.touched)
                  "
                  class="alert alert-danger mt-1"
                >
                  <div *ngIf="shippingAddressState?.errors?.['required']">
                    Shipping state is required
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2"><label for="">Zip Code</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input type="text" formControlName="zipCode" />
                <div
                  *ngIf="
                    shippingAddressZipCode?.invalid &&
                    (shippingAddressZipCode?.dirty ||
                      shippingAddressZipCode?.touched)
                  "
                  class="alert alert-danger mt-1"
                >
                  <div
                    *ngIf="shippingAddressZipCode?.errors?.['required'] || shippingAddressZipCode?.errors?.['notOnlyWhitespace']"
                  >
                    Zip code is required
                  </div>
                  <div *ngIf="shippingAddressZipCode?.errors?.['minlength']">
                    Zip code must be at least 2 characters
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="input-space">
          <label class="au-checkbox">
            <input
              type="checkbox"
              (change)="copyShippingAddressToBillingAddress($event)"
            />
            <span class="au-checkmark"></span>Billing address same as Shipping
            address
          </label>
        </div>
        <div formGroupName="billingAddress" class="form-area">
          <h3>Billing Address</h3>
          <div class="row">
            <div class="col-md-2"><label for="">Country</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <select
                  (change)="getStates('billingAddress')"
                  formControlName="country"
                >
                  <option
                    *ngFor="let country of countries"
                    [ngValue]="country.id"
                  >
                    {{ country.name }}
                  </option>
                </select>
                <div
                  *ngIf="
                    billingAddressCountry?.invalid &&
                    (billingAddressCountry?.dirty ||
                      billingAddressCountry?.touched)
                  "
                  class="alert alert-danger mt-1"
                >
                  <div *ngIf="billingAddressCountry?.errors?.['required']">
                    Country is required
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2"><label for="">Street</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input type="text" formControlName="street" />
                <div
                  *ngIf="
                    billingAddressStreet?.invalid &&
                    (billingAddressStreet?.dirty ||
                      billingAddressStreet?.touched)
                  "
                  class="alert alert-danger mt-1"
                >
                  <div
                    *ngIf="billingAddressStreet?.errors?.['required'] || billingAddressStreet?.errors?.['notOnlyWhitespace']"
                  >
                    Street is required
                  </div>
                  <div *ngIf="billingAddressStreet?.errors?.['minlength']">
                    Street must be at least 2 characters
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2"><label for="">City</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input type="text" formControlName="city" />
                <div
                  *ngIf="
                    billingAddressCity?.invalid &&
                    (billingAddressCity?.dirty || billingAddressCity?.touched)
                  "
                  class="alert alert-danger mt-1"
                >
                  <div
                    *ngIf="billingAddressCity?.errors?.['required'] || billingAddressCity?.errors?.['notOnlyWhitespace']"
                  >
                    City is required
                  </div>
                  <div *ngIf="billingAddressCity?.errors?.['minlength']">
                    City must be at least 2 characters
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2"><label for="">State</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="state">
                  <option
                    *ngFor="let billingAddressState of billingAddressStates"
                    [ngValue]="billingAddressState.id"
                  >
                    {{ billingAddressState.name }}
                  </option>
                </select>
                <div
                  *ngIf="
                    billingAddressState?.invalid &&
                    (billingAddressState?.dirty || billingAddressState?.touched)
                  "
                  class="alert alert-danger mt-1"
                >
                  <div *ngIf="billingAddressState?.errors?.['required']">
                    Country is required
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2"><label for="">Zip Code</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input type="text" formControlName="zipCode" />
                <div
                  *ngIf="
                    billingAddressZipCode?.invalid &&
                    (billingAddressZipCode?.dirty ||
                      billingAddressZipCode?.touched)
                  "
                  class="alert alert-danger mt-1"
                >
                  <div
                    *ngIf="billingAddressZipCode?.errors?.['required'] || billingAddressZipCode?.errors?.['notOnlyWhitespace']"
                  >
                    Zip code is required
                  </div>
                  <div *ngIf="billingAddressZipCode?.errors?.['minlength']">
                    Zip code must be at least 2 characters
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div formGroupName="creditCard" class="form-area">
          <h3>Credit card</h3>
          <div class="row">
            <div class="col-md-2"><label for="">Card Type</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="cardType">
                  <option value="Visa">Visa</option>
                  <option value="Master Card">Master Card</option>
                </select>
                <div
                  *ngIf="
                    creditCardType?.invalid &&
                    (creditCardType?.dirty || creditCardType?.touched)
                  "
                  class="alert alert-danger mt-1"
                >
                  <div *ngIf="creditCardType?.errors?.['required']">
                    Credit Card Type is required
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2"><label for="">Name on card</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input type="text" formControlName="nameOnCard" />
                <div
                  *ngIf="
                    creditCardNameOnCard?.invalid &&
                    (creditCardNameOnCard?.dirty ||
                      creditCardNameOnCard?.touched)
                  "
                  class="alert alert-danger mt-1"
                >
                  <div
                    *ngIf="creditCardNameOnCard?.errors?.['required'] || creditCardNameOnCard?.errors?.['notOnlyWhitespace']"
                  >
                    Name on Card is required
                  </div>
                  <div *ngIf="creditCardNameOnCard?.errors?.['minlength']">
                    Name on Card must be at least 2 characters
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2"><label for="">Card Number</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input type="text" formControlName="cardNumber" />
                <div
                  *ngIf="
                    creditCardNumber?.invalid &&
                    (creditCardNumber?.dirty || creditCardNumber?.touched)
                  "
                  class="alert alert-danger mt-1"
                >
                  <div
                    *ngIf="creditCardNumber?.errors?.['required'] || creditCardNumber?.errors?.['notOnlyWhitespace']"
                  >
                    Credit Card Number is required
                  </div>
                  <div *ngIf="creditCardNumber?.errors?.['pattern']">
                    Credit Card Number must be valid
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2"><label for="">Security Code</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input type="text" formControlName="securityCode" />
                <div
                  *ngIf="
                    creditCardSecurityCode?.invalid &&
                    (creditCardSecurityCode?.dirty ||
                      creditCardSecurityCode?.touched)
                  "
                  class="alert alert-danger mt-1"
                >
                  <div
                    *ngIf="creditCardSecurityCode?.errors?.['required'] || creditCardSecurityCode?.errors?.['pattern']"
                  >
                    a valid Credit card security code is required
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2"><label for="">Expiration Month</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="expirationMonth">
                  <option
                    *ngFor="let month of creditCardMonths"
                    [value]="month"
                  >
                    {{ month }}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2"><label for="">Expiration Year</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <select
                  (change)="handleMonthsAndYears()"
                  formControlName="expirationYear"
                >
                  <option *ngFor="let year of creditCardYears" [value]="year">
                    {{ year }}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <div class="form-area">
          <h3>Review your order</h3>
          <p>Total Quantity: {{ totalQuantity }}</p>
          <p>Shipping: FREE</p>
          <p>Total Price: {{ totalPrice | currency : "USD" }}</p>
        </div>
        <div class="text-center">
          <button
            [disabled]="checkoutFormGroup.invalid"
            type="submit"
            class="btn btn-info"
          >
            Purchase
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
